Привет, меня зовут <span class="name">Антон Зайцев</span>
<br>
Я занимаюсь веб-разработкой
<br>
и я люблю свое дело.
<br>
<br>
Вы можете связаться со мной <br>
с помощью <%= mail_to 'me@antonzaytsev.com', 'email' %>, <%= link_to 'skype', 'skype:antonzaycev?call' %>
или <%= link_to 'twitter', 'https://twitter.com/antonzaycev', target: '_blank' %>.
<br>
Так же можете взглянуть на мой аккаунт на гитхабе <%= link_to 'github', 'http://github.com/antonzaytsev', target: '_blank' %>.
<br>
Так же вы можете посетить <%= link_to 'мой блог', 'http://blog.antonzaytsev.com', target: "_blank" %>.
