Hello, my name is <span class="name">Anton Zaytsev</span><br/>
I do web development, and I love it!<br/><br/>
Please feel free to contact with me<br/>
via <%= mail_to 'me@antonzaytsev.com', 'email' %>,
<%= link_to 'skype', 'skype:antonzaycev?call' %> or <%= link_to 'twitter', 'https://twitter.com/antonzaycev', target: '_blank' %>.
<br>
Also you can check out my GitHub account <%= link_to 'github', 'http://github.com/antonzaytsev', target: '_blank' %>.
<br/>
I have a blog in russian <%= link_to 'here', 'http://blog.antonzaytsev.com', target: "_blank" %>.